<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content scroll="false">
  <section class="login-container">
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <div text-center>
        <h1><ion-icon name='chatbubbles'></ion-icon><br/>c'mon,<br/> bet me!</h1>
        <h3>Talk sports, bet your friends and see who wins</h3>
<!-- 	     <div *ngIf="afAuth.authState | async; let user; else showLogin">
        h1>Hello {{ user.displayName }}!</h1
        <button ion-button large outline color="light" (click)="logout()">Logout</button>
       </div>
 -->
        <button ion-button icon-start large color="danger" (click)="googleLogin()">
          <ion-icon name='logo-google'></ion-icon>
          Connect with Google
       </button>
       <button ion-button icon-start large (click)="facebookLogin()">
          <ion-icon name='logo-facebook'></ion-icon>
          Connect with facebook
       </button>

      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</section>
</ion-content>
