page-login {
.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: #8df2ab;
    /*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#253f73), color-stop(100%,#253f73));
    background: -webkit-linear-gradient(top, #253f73 0%,#253f73 100%);
    */
}

.login-container h1{
	font-size: 55px;
	color: #ffffff;
	padding-top: 60px;
	line-height: 50px;
}

.login-container h3{
	color: #ffffff;
	padding-bottom: 40px;
}

}
