<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="userForm" (ngSubmit)="submit()">
        <ion-item>
          <ion-label floating>Create UserName</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
         <button ion-button type="submit" [disabled]="!userForm.valid">check</button>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
