<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>SMACKCHAT</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-scroll scrollY="true">
    <ion-list no-lines>
      <ion-item *ngFor="let item of items$ | async">
        <ion-avatar item-start>
          <img src="{{item.avatar}}">
         </ion-avatar>
        <h2>{{item.user}}</h2>
        <p text-wrap>{{item.message}}</p>
        <ion-note item-end>{{ item.createdAt | date:'shortTime' }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <ion-footer>
    <ion-toolbar>
     <ion-item>
      <ion-input #message type="text" clearOnEdit="true" placeholder="Type message here" (keyup.enter)="addDocument(message.value)" [(ngModel)]="myMessage"></ion-input>
    </ion-item>
      <ion-buttons end>
        <button ion-button icon-right color="royal">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>


