<!--
  Generated template for the BetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Lions win 5-0</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding no-scroll>
  <ion-grid no-padding>
     <ion-row class="betBox bet">
       <ion-col col-8 offset-2 align-self-center text-center>
          <h3>
           I bet Sammy that the Lions are going ot have a steller game and win 5-0!
          </h3>
       </ion-col>
     </ion-row>
     <ion-row class="betBox wager">
      <ion-col col-8 offset-4 align-self-center text-center>    
              <ion-input type="text" class="wager-input" placeholder="$123"></ion-input>        
        </ion-col>
      </ion-row>
      <ion-row class="betBox submitBet">
          <ion-col align-self-center text-center>
             <button ion-button large color="light" outline class="submit-bet" type="submit">share with friends!</button>
           </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>
