page-bet {

    ion-grid.grid{
        height: 100%;
      }
      
      .bet {
        background: #8df2ab;
      }
      
      .bet h3{
      font-size: 25px;
      color: #ffffff;
      
      }
      
      .betBox{
      flex: 1;
      }
      
      .wager{
        background-color:blueviolet;
        font-size: 45px;
        color: #ffffff;
      }
      
      .submitBet{
        background-color: #488aff;
        font-size:45px;
        color: #ffffff;
      }
      
      button.submit-bet{
        font-size:25px;
        color: #ffffff;
      }

}
