page-home {
  .login-container {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      height: 100%;
      background: #8df2ab;
  }

  .login-container h1{
    font-size: 55px;
    color: #ffffff;
    padding-top: 60px;
    line-height: 50px;
  }

  .login-container h3{
    color: #ffffff;
    padding-bottom: 40px;
  }

}
