<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content scroll="false">
  <section class="login-container">
  <ion-row>
    <ion-col></ion-col>
    <ion-col align-self-center>
      <div text-center>
        <h1><ion-icon name='chatbubbles'></ion-icon><br/>bet me</h1>
        <h3 color="secondary">quick social bets</h3>
       <div *ngIf="afAuth.authState | async; let user; else showLogin">
        <button ion-button large outline color="light" (click)="logout()">Logout</button>
       </div>
      <ng-template #showLogin>
        <button ion-button icon-start large color="danger" (click)="login()">
          <ion-icon name='logo-google'></ion-icon>
          Connect with Google
       </button>
       <button ion-button icon-start large (click)="login()">
          <ion-icon name='logo-facebook'></ion-icon>
          Connect with facebook
       </button>
     </ng-template>
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</section>
</ion-content>
