<!--
  Generated template for the NflMatchupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>SMACK CHAT |  Week {{ this.currentWeek }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of currentSchedule | async" (click)="itemSelected(item)" padding-vertical>
      {{ item.AwayTeam  }} @ {{ item.HomeTeam }} {{ item.DateTime | date:'shortTime'}}
        <ion-badge item-end>2</ion-badge>
    </button>
  </ion-list>
</ion-content>
