<!--
  Generated template for the MakeBetList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
      <ion-title>c'mon, bet me!</ion-title>
      <ion-buttons end>
        <button ion-button end (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list>
    <ion-item-sliding>
      <button ion-item *ngFor="let item of items | async" (click)="itemSelected(item)" >
          <ion-avatar item-start>
              <img src="https://lh6.googleusercontent.com/-5kEzCFjKkdo/AAAAAAAAAAI/AAAAAAAAAAA/nI4eGhTgDy4/photo.jpg">
          </ion-avatar>
        {{ item.bet }}
        <ion-icon item-end name="radio-button-off" color="light"></ion-icon>
      </button>

        <ion-item-options side="right">
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
             Call
          </button>
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
           Share
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab large center bottom>
      <button ion-fab (click)="addBet()" color="secondary"><ion-icon name="add" color="light"></ion-icon></button>
    </ion-fab>
  </ion-content>
