page-make-bet {


form.betForm{
  height: 100%;
}

ion-grid.grid{
  height: 100%;
}

.bet {
  background: #8df2ab;
}

.bet h3{
font-size: 25px;
color: #ffffff;

}

.betBox{
flex: 1;
}

.wager{
  background-color:blueviolet;
  font-size: 45px;
  color: #ffffff;
}

.submitBet{
  background-color: #488aff;
  font-size:45px;
  color: #ffffff;
}

button.submit-bet{
  font-size:25px;
  color: #ffffff;
}
/*
  ion-grid.grid {
    background-color: #dedede;
    padding: 20px 0;
  }
  ion-grid ion-item {
    border-radius: 10px;
  }

  .bet-input {
    border: 2px solid #dedede;
    padding: 0 5px;
    font-size: small;
    border-radius: 10px;
    color: #111;
    height: 10vh;
  }*/
}
