<!--
  Generated template for the MakeBetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title>bet me</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding no-scroll>
<form [formGroup]="betForm" (ngSubmit)="submitBet()" class="betForm">
<ion-grid no-padding>
   <ion-row class="betBox bet">
     <ion-col col-8 offset-2 align-self-center text-center offset-3>
        <h3>
         <ion-textarea type="text" class="bet-input" placeholder="> type your bet" formControlName="mybet"></ion-textarea>
        </h3>
     </ion-col>
   </ion-row>
   <ion-row class="betBox wager">
    <ion-col col-8 offset-4 align-self-center text-center>
            <ion-input type="text" class="wager-input" placeholder="$123" formControlName="mywager"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="betBox submitBet">
        <ion-col align-self-center text-center>
           <button ion-button large color="light" outline class="submit-bet" type="submit" [disabled]="!betForm.valid">submit bet</button>
         </ion-col>
    </ion-row>
</ion-grid>
</form>
</ion-content>
